datasets==3.2.0
evaluate==0.4.3
fairlearn==0.12.0
matplotlib==3.10.0
numpy==1.24.4
pandas==2.2.3
scikit_learn==1.6.0
seaborn==0.13.2
torch==2.1.0+cu118
torch_xla==2.5.1
torchaudio==2.1.0+cu118
torchsummary==1.5.1
tqdm==4.67.1
transformers==4.47.1
